# Core ML
pandas
numpy
scikit-learn
prophet
xgboost
joblib

# API
fastapi
uvicorn[standard]
python-multipart
pydantic

# UI
streamlit
plotly

# AI Narasi
google-genai

# Utilities
python-dotenv
httpx
